/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --page-background-color: #fff1f7;
  --text-color: #353430;
  --brand-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --accent-transparent-color: rgb(50 49 45 / 0.4);
  --contrast-text-color: #353430;
  --section-title-color: #353430;
  --cover-image: url("../images/cover-image-light.png");
  --rec-visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --page-background-color: #fff1f7;
    --text-color: #353430;
    --brand-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --accent-transparent-color: rgb(50 49 45 / 0.4);
    --contrast-text-color: #353430;
    --section-title-color: #353430;
    --rec-visibility: hidden;
  }
}
